@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.bg_color {
    margin: 0 auto;
    background: #040c4b no-repeat center center fixed;
    font-family: 'BMJUA';
}
.bg {
    position: relative;
    background-image: url(../img/i_main_bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin: 0px;
} 
.nav_bar {
    box-sizing: border-box;
    flex-direction: row;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    font-family: 'BMJUA';
}
.nav_button {
    height: 50px;
    color: #ffffff;
    font-family: 'BMJUA';
    font-size: 0.8rem;
    font-weight: 500;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: border-bottom 2s ease 0s;
    font-family: 'BMJUA';
}
.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about {
    padding-top: 20px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}
.about_intro {
    padding: 10px 0px;
    color: rgb(170, 152, 135);
    font-size: 10px;
}
.p1 {
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 4px 0px 6px;
}
.intro_us_div {
    font-family: 'BMJUA';
    margin: 0;
    background-color: #fbfbfbe6;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    padding: 10px;
}
.intro_us {
    padding-top: 20px;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}
.member_list {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_info_left {
    width: 140px;
    height: 140px;
    padding: 5px;
    margin-right: 12px;
    text-align: center;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 0 8px #00000040;
    border-radius: 16px;
}
.card_info_right {
    width: 140px;
    height: 140px;
    padding: 5px;
    margin-left: 15px;
    text-align: center;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 0 8px #00000040;
    border-radius: 16px;
}
.dept {
    margin-top: 1px;
    font-size: 8pt;
    margin-bottom: 0px;
}
.name {
    font-size: 10pt;
    margin-top: 2px;
}
.skon_festival_color {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-top: 10px;
    width: 5%;
}