@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.bg_color {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #040c4b no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'BMJUA';
}
.bg {
    position: relative;
    background-image: url(../img/i_main_bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    align-items: center;
    justify-content: center;
}

.nav_bar {
    box-sizing: border-box;
    flex-direction: row;
    gap: 25px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 10vh;
    border: 1px solid #ffffff;
}

.nav_button {
    height: 50px;
    color: #ffffff;
    font-family: 'BMJUA';
    font-size: 0.8rem;
    font-weight: 500;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: border-bottom 2s ease 0s;
}

.date_div {
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.first_day {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #ffffff;
    background: rgba(160, 160, 160, 0.39);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.first_dday {
    margin: 0px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-family: 'BMJUA';
    text-align: center;
}

.second_day {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #ffffff;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.second_dday {
    margin: 0px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-family: 'BMJUA';
    text-align: center;
}

.third_day {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #ffffff;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.third_dday {
    margin: 0px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-family: 'BMJUA';
    text-align: center;
}

.booth_festival {
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 15vh;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.booth_table {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 300px;
    height: 50px;
    border: 1px solid #C2E3BD;
    border-radius: 50px;
}

.booth_time_name {
    width: 49%;
    height: 90%;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    font-family: 'BMJUA';
    transition: all 0.2s ease 0s;
    box-sizing: border-box;
}

.booth_time_table {
    width: 49%;
    height: 90%;
    background-color: #C2E3BD;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    font-family: 'BMJUA';
    transition: all 0.2s ease 0s;
}

.time_table_box {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.time_table_box_in {
    width: 80%;
    margin: 0px 10%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.real_time_table {
    width: 325px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.real_time_table_in {
    overflow-y: scroll;
    height: 430px;
}

.time_table_list {
    width: 300px;
    height: 55px;
    line-height: 55px;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 13px;
    display: flex;
    cursor: pointer;
    -webkit-animation: fadeIn;
    animation: fadeIn;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
}

.list_num {
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #C2E3BD;
    border-radius: 50%;
    color: #000000;
    margin: 15px 15px 15px 0px;
    text-align: center;
    font-family: 'BMJUA';
}

.list_logo_name_box {
    width: 190px;
    height: 55px;
    border-radius: 50px;
    border: 1px solid #0a4900;
    display: inline-flex;
    background-color: #C2E3BD;
}

.list_logo {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #dfffda;
    margin: 10px;
    border-radius: 50%;
}

.list_time_name {
    width: 135px;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'BMJUA';
}

.list_time {
    height: 20px;
    line-height: 30px;
    width: 135px;
    font-size: 10px;
    text-align: left;
    color: #000000;
}

.list_name {
    height: 20px;
    line-height: 15px;
    width: 135px;
    font-size: 12px;
    text-align: left;
    color: #000000;
}