@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.bg_color {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #0C1428 no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'BMJUA';
}
.bg {
    position: relative;
    background-image: url(../img/i_main_bg.png);
    background-position: top center;
    align-items: center;
    justify-content: center;
}
.nav_bar {
    box-sizing: border-box;
    flex-direction: row;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    font-family: 'BMJUA';
}
.nav_button {
    height: 50px;
    color: #ffffff;
    font-family: 'BMJUA';
    font-size: 0.8rem;
    font-weight: 500;
    background-color: transparent;
    background-position: center center;
    background-size: contain;
    border: transparent;
    cursor: pointer;
    font-family: 'BMJUA';
}
.all_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date_div {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}
.second_day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border: transparent;
}
.second_dday {
    margin: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-family: 'BMJUA';
    text-align: center;
}
.third_day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border: transparent;
}
.third_dday {
    margin: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-family: 'BMJUA';
    text-align: center;
}
.day_guest {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: rgba(160, 160, 160, 0.39);
    width: 70px;
    height: 70px;
    border-radius: 70%;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    border: transparent;
}
.day_guest_txt {
    margin: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-family: 'BMJUA';
    text-align: center;
}
.booth_festival {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    font: inherit;
}
.booth_table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background: rgba(255, 255, 255, 0.77);
    border-radius: 15px;
}
.booth_time_name {
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    font-family: 'BMJUA';
    box-sizing: border-box;
}
.booth_time_table {
    width: 50%;
    height: 100%;
    background: #C2E3BD;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    font-family: 'BMJUA';
}
.time_table_box {
    box-sizing: border-box;
    margin: 0px;
    max-width: 100%;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}
.intro_us {
    font-style: normal;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.member_list {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_info_left {
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-right: 12px;
    text-align: center;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 0 8px #00000040;
    border-radius: 16px;
}
.card_info_center {
    width: 150px;
    height: 150px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 0 8px #00000040;
    border-radius: 16px;
}
.card_info_right {
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-left: 15px;
    text-align: center;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 0 8px #00000040;
    border-radius: 16px;
}
.name {
    font-size: 10pt;
    margin: 0px;
}
.booth_bg_scon {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0px;
    margin-right: -3%;
}