@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'BMJUA';
}
.bg_color {
  margin: 0 auto;
  background: #0C1428 no-repeat center center fixed;
}
.bg {
  position: relative;
  background-image: url(../img/i_main_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  height: 100%;
  margin: 0px;
} 
.nav_bar {
  box-sizing: border-box;
  flex-direction: row;
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}
.nav_button {
  height: 50px;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: border-bottom 2s ease 0s;
}
.booth_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_box {
  box-sizing: border-box;
  margin: 20px;
  flex-direction: row;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  vertical-align: baseline;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  
  }

.tab input[type=button] {
	display: none;
  justify-content: center;
  align-items: center;
}

.tab > * {
  margin-left: 10px;
  margin-right: 10px;
  }

.section_box .tab > div {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-align: center;
}

.sectionA_1
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white ;
  background-color: transparent;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid;
}

.color_sectionA_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C2E3BD;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}


.sectionA_2
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white ;
  background-color: transparent;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid;
}
.color_sectionA_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C2E3BD;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.i_map
{

    display: flex;
    justify-content: center;
    align-items: center;
  
}
.picNo {
  color: transparent;
}

.pic {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  height: 400px;
  width: 300px;
}

.content-0
{
  padding-left: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.booth_num {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:white;
}

.booth_festival {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 13vh;
  font: inherit;
}

.booth_table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background: rgba(255, 255, 255, 0.77);
  border-radius: 15px;
}

.booth_time_name {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  background: #C2E3BD;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  box-sizing: border-box;
}
.booth_time_name > a{
  text-decoration: none;
  color: black;
}
.booth_time_table > a{
  text-decoration: none;
  color: black;
}

.booth_time_table {
  width: 50%;
  height: 100%;
  background: transparent;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

.time_table_box {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

.time_table_box_in {
  width: 80%;
  margin: 0px 10%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  opacity: 0.8;
}

.real_time_table {
  /* width: 325px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  background-color: #ffffff;
  border-radius: 10px;
}

.real_time_table_in {
  overflow-y: scroll;
  height: 430px;
}

.time_table_list {
  display: flex;
  cursor: pointer;
  border-top: 10px #040c4b;
  border-color: black;
  border-bottom: 1px solid #000;
}
.list_logo_box_name{
  align-items: center;
  text-align: center;
}

.list_num {
  width: 30px;
  height: 30px;
  line-height: 25px;
  display: flex;
  margin: 10px 10px 6px 10px;
  background-color: #C2E3BD;
  border-radius: 50%;
  opacity: 80%;
  justify-content: center;
  align-items: center; /* 세로 중앙 정렬 */
}

.list_time_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 260px;
  height: 100%;
}

.list_name {
  width: 250px;
  font-size: 12px;
  text-align: left;
  color: #000000;
  margin-left: 10px;
}

.list_name > a{
  text-decoration: none;
  color: black;
}

.booth_bg_scon {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-top: 10px;
  width: 5%;
}