@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.bg_color {
  position: relative;
  margin: 0 auto;
  background: #040c4b;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'BMJUA';
}
.bg {
  position: relative;
  background-image: url(../img/i_main_bg.png);
  background-position: top center;
  height: 100%;
}
.nav_bar {
  box-sizing: border-box;
  margin-bottom: 24px;
  flex-direction: row;
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}
.nav_button {
  height: 50px;
  color: #ffffff;
  font-family: 'BMJUA';
  font-size: 0.8rem;
  font-weight: 500;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: border-bottom 2s ease 0s;
}
.main_set{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.button_set {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  margin-bottom: 20vh;
}
.sku_festival_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 156px;
  height: 200px;
  background-color: transparent;
  margin-bottom: 150px;
  margin-top: 130px;
}
.main_button {
  display: flex;
  align-items: center;
  animation: fadeInDown;
  animation-duration: 3s;
  animation-delay: 1s;
}
.img_text {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  margin-bottom: 40px;
  animation: fadeInDown;
  animation-duration: 3s;
  animation-delay: 1s;
}
.skon_festival_color {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 130px;
  height: 170px;
  margin-top: 1300px;
  margin-bottom: 130px;
}